.sidebar {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex: 0.30;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar_searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar_searchContainer>input {
    border: none;
    margin-left: 10px;
    outline: none;
}

.sidebar_searchContainer>.MuiSvgIcon-root {
    color: grey;
    padding: 10px;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight>.MuiSvgicon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__chats {
    flex: 2;
    overflow-y: scroll;
}

.sidebar_headerPopoverBox {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 1.2rem;
    margin-left: -9rem;
}

.popover_item_sidebar {
    display: block;
    margin-top: 10px;
    font-size: 1.1rem;
    padding: 10px 15px;
    transition: all 0.01s ease-in-out;
}

.popover_item_sidebar:hover {
    background-color: rgba(237, 237, 237, 1);
}